* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'MC';
  src: url(./assets/Minecraft.ttf);
}

#pos {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 2rem;
  font-family: 'MC';
  font-size: 24px;
  line-height: 28px;
  word-spacing: 4px;
  font-weight: 100;
  font-style: normal;
  text-rendering: optimizeLegibility;
  color: white;
  text-shadow: 3px 3px 0 #333;
}

#selectedi {
  position: absolute;
  bottom: calc(40px * 3);
  left: 50%;
  transform: translate(-50%);
  font-size: 2rem;
  font-family: 'MC';
  font-size: 24px;
  line-height: 28px;
  word-spacing: 4px;
  font-weight: 100;
  font-style: normal;
  text-rendering: optimizeLegibility;
  color: white;
  text-shadow: 3px 3px 0 #333;
}


#loading {
  position: absolute;
  top: 0;
  left: 50%;
  max-height: 50vh;
  overflow-y: auto;
  transform: translate(-50%);
  font-size: 2rem;
  font-family: 'MC';
  font-size: 18px;
  line-height: 19px;
  word-spacing: 4px;
  font-weight: 100;
  font-style: normal;
  text-rendering: optimizeLegibility;
  color: white;
  background: #00000055;
  width: 100vw;
  text-align: center;
  text-shadow: 3px 3px 0 #333;
}

.screen {
  position: absolute;
  top: 0;
  left: -200%;
  background: #00000055;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

body {
  overflow: hidden;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

#root {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}

#cursor {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 24px;
  height: 24px;
}

#cursor .d0{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 3px;
  height: 24px;
  background-color: white;
}

#cursor .d1{
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 24px;
  height: 3px;
  background-color: white;
}

#blocks_sel{
  position: absolute;
  z-index: 1000;
  top: 250px;
  left: 0;
}

#inventory {
  display: none;
  width: calc(180px * 3);
  grid-template-columns: repeat(8, 1fr);
  position: absolute;
  top: 0;
  right: 0;
  background: #66000088;
  font-family: 'MC';
  width: calc(18px * 3 * 9);
  color: white;
  z-index: 1000;
  /* max-height: 324px; */
  /* overflow-y: auto; */
}

#inventory button {
  width: calc(18px * 3);
  height: calc(18px * 3);
  background: none;
}

#inventory img {
  width: calc(16px * 3);
  height: calc(16px * 3);
}

#hotbar {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  width: calc(182px * 3);
  height: calc(22px * 3);
  background: url(./assets/textures/gui/widgets.png);
  background-size: calc(256px * 3);
  padding-left: 3px;
  padding-right: 3px;
}

#hotbar .slot,
#hotbar .sled {
  display: inline-block;
  width: calc(20px * 3);
  height: calc(22px * 3);
  background: #ff000033;
  position: relative;
}

.slot img,
.seld img {
  position: relative;
  width: calc(14px * 3);
  height: calc(14px * 3);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slot span,
.seld span {
  position: absolute;
  bottom: 6px;
  right: 3px;
  font-family: 'MC';
  font-size: 24px;
  line-height: 28px;
  word-spacing: 4px;
  font-weight: 100;
  font-style: normal;
  text-rendering: optimizeLegibility;
  color: white;
  text-shadow: 3px 3px 0 #333;
  z-index: 100;
}

.seld::after {
  content: '';
  top: -3px;
  left: -3px;
  position: absolute;
  display: block;
  width: calc(22px * 3);
  height: calc(22px * 3);
  background: url(./assets/textures/gui/widgets.png);
  background-size: calc(256px * 3);
  background-position-y: calc(-22px * 3);
  padding-left: 3px;
  padding-right: 3px;
  z-index: 120;
}